@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 116, 139;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: ghostwhite;
}

body.admin {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-header {
  background-color: rgb(36 48 63 / var(--tw-bg-opacity));
}

.logo-header {
  height: 50px;
  width: 150px;
}

.ck.ck-editor__main>.ck-editor__editable {
  min-height: 350px !important;
}

.show-template {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 450px;
}

.min-w-52 {
  min-width: 520px
}

.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: #9a67d9 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(155, 155, 155, 0.8);
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__view-calendar-icon input {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.react-datepicker__input-container .react-datepicker__calendar-icon{
  padding-top: 1rem;
}